babel~=2.16.0
CairoSVG~=2.7.1
django~=5.1.1
django-admin-rangefilter~=0.13.2
django-compressor
django-debug-toolbar>=4.4.6
django-filter~=24.3
django_formtools
django-more-admin-filters~=1.9.0
django-redis
django-taggit~=6.1.0
djangorestframework~=3.15.2
fuzzywuzzy~=0.18.0
markdown~=3.7
Pillow~=10.4.0
psycopg[pool]~=3.2.3
python-Levenshtein
pytz~=2024.1
tblib~=3.0.0
tqdm~=4.66.5
