{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nas</title>
    <link rel="stylesheet" href="{% static 'aboutStyle.css' %}">
</head>
<body>

   {% include "header.html" %}


    <section id="description">
        <h1>Kim jesteśmy?</h1>
        <h3>Jesteśmy grupą młodych pasjonatów matematyki i&nbsp;wspólnie założyliśmy internetowe koło matematyczne.
            Dla&nbsp;wielu ambitnych licealistów ważnym celem staje się sukces w&nbsp;olimpiadach przedmiotowych, który nie tylko
            zwalnia z&nbsp;egzaminu maturalnego, lecz również znacznie ułatwia rekrutację na&nbsp;wymarzone studia. Niestety różne
            czynniki powodują, że mimo zdolności i&nbsp;ciężkiej pracy cel ten jest dla niektórych szczególnie trudny do&nbsp;osiągnięcia. 
            Właśnie to zmotywowało nas do&nbsp;działania i&nbsp;dzielenia się swoją wiedzą z&nbsp;kolegami i&nbsp;koleżankami
            o&nbsp;podobnych zainteresowaniach, lecz niemającymi dostępu do&nbsp;odpowiednich materiałów.  Zależy nam na&nbsp;kształtowaniu
            otwartej i&nbsp;trwałej <a href="https://discord.gg/nA8CjrPqGM" style="text-decoration: underline dashed;">społeczności</a>, 
            aby każdy mógł stać się częścią środowiska olimpijskiego. Naszym celem jest: pomóc tym, którzy kochają matematykę, 
            ale nie wiedzą jeszcze, od&nbsp;czego zacząć!
        </h3>
    </section>

    <section id="team">
        <h1>Nasz zespół</h1>
        <div class="team-tiles">

            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Oleksii Iermolenko</h2>
                <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Finalista OM</h3>
                <hr>
                <h3 class="description">Jestem absolwentem XI Liceum w&nbsp;Krakowie, studiuję JSIM na Uniwersytecie Warszawskim, interesuję się matematyką, informatyką i&nbsp;gram w&nbsp;szachy.
                W&nbsp;sprawie strony internetowej MIKO zapraszam do&nbsp;kontaktu.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Filip Manijak</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Laureat OM i&nbsp;OAI</h3>
                <hr>
                <h3 class="description">Studiuję na UJ i&nbsp;jestem absolwentem LO Prezentek w&nbsp;Rzeszowie. Zajmuję się kwestami organizacyjnymi. Lubię jeździć na rowerze i&nbsp;grać w&nbsp;cywilizacje.</h3>
                </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Konstanty Smolira</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Złoty medalista Międzynarodowej Olimpiady Matematycznej</h3>
                <hr>
                <h3 class="description">Rozpoczynam studia na&nbsp;Uniwersytecie Jagiellońskim. MIKO to dla mnie okazja, by odwdzięczyć się społeczności za pomoc, którą sam swojego czasu dostałem.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Antoni Łuczak</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Laureat OM</h3>
                <hr>
                <h3 class="description">Uczę się w&nbsp;XIV LO w&nbsp;Warszawie. Poza matematyką interesuję się sztuką i&nbsp;motoryzacją.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Łukasz Próchniak</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Finalista OM; Finalista OS</h3>
                <hr>
                <h3 class="description">Uczę się w&nbsp;Liceum im.&nbsp;Królowej Jadwigi w&nbsp;Lublinie. Oprócz matematyki
                    zajmuję się także fizyką oraz informatyką. Poza naukami ścisłymi interesuję się fotografią (szczególnie analogową).</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Karol Musieliński</h2>
                <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Laureat OM; Laureat OI</h3>
                <hr>
                <h3 class="description">Jestem absolwentem VIII Liceum w&nbsp;Poznaniu i&nbsp;studiuję JSIM na&nbsp;Uniwersytecie Warszawskim.
                    Najbardziej interesuje mnie matematyka dyskretna oraz algorytmika i&nbsp;sztuczna inteligencja.</h3>
            </div>
            <div class="team-member">
             <div class="photo-placeholder"> </div>
                <h2>Miłosz Płatek</h2>
                <h3 class="role">Prowadzący Facebookowego Koła OMJ; Prowadzący zajęć matematycznych; Medalista MEMO oraz CAPS</h3>
                <hr>
                <h3 class="description">Uczę się w&nbsp;V Liceum w&nbsp;Krakowie. Poza matematyką trenuję grę w&nbsp;szachy, a w&nbsp;wolnym czasie uprawiam różne sporty.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Kordian Pisarek</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Designer strony internetowej MIKO; Finalista OM</h3>
                <hr>
                <h3 class="description">Jestem uczniem V Liceum Ogólnokształcącego w&nbsp;Krakowie. Trenuję biegi przełajowe i&nbsp;bieg na orientację. Jestem pasjonatem matematyki i&nbsp;informatyki, lecz również wspinaczki, długodystansowej jazdy na rowerze i&nbsp;grafiki komputerowej.</h3>
	    </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Tymoteusz Stępkowski</h2>
                <h3 class="role">Prowadzący zajęć AI; Laureat OAI; Finalista OM; Finalista OI</h3>
                <hr>
                <h3 class="description">Jestem uczniem Uniwersyteckiego Liceum Ogólnokształcącego w&nbsp;Toruniu. Pasjonuję się informatyką, a w&nbsp;szczególności programowaniem.</h3>
            </div>
<!--            <div class="team-member">-->
<!--                <div class="photo-placeholder"> </div>-->
<!--                <h2>Jakub Podhajski</h2>-->
<!--                <h3 class="role">Pomoc w tworzeniu frontendu </h3>-->
<!--                <h3 class="description"></h3>-->
<!--            </div>-->
<!--            <div class="team-member">-->
<!--                <div class="photo-placeholder"></div>-->
<!--                <h2>Igor Stec</h2>-->
<!--                <h3 class="role">Pomoc w tworzeniu frontendu </h3>-->
<!--                <h3 class="description"></h3>-->
<!--            </div>-->
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Prowadzący kółek</h2>
                <h3 class="role"></h3>
                <h3 class="description">Serdecznie dziękujemy każdej osobie, która poświęciła chociaż trochę swojego czasu na
                przygotowanie wykładu, organizację eventu lub pomogła nam w&nbsp;inny sposób!</h3>
            </div>


        </div>
    </section>


{% include "footer.html" %}

</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
  const navbarToggle = document.querySelector('.navbar-toggle');
  const navbarCenter = document.querySelector('.navbar-center');

  navbarToggle.addEventListener('click', function() {
    navbarCenter.classList.toggle('active');
  });
});
</script>
</html>
