{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Page</title>
    <link rel="stylesheet" href="{% static 'aboutStyle.css' %}">
</head>
<body>

   {% include "header.html" %}


    <section id="description">
        <h2>Kim jesteśmy?</h2>
        <h3>Jesteśmy grupą młodych pasjonatów matematyki i wspólnie założyliśmy internetowe koło matematyczne.
            Dla wielu ambitnych licealistów ważnym celem staje się sukces w olimpiadach przedmiotowych, który nie tylko
            zwalnia z egzaminu maturalnego, lecz również znacznie ułatwia rekrutację na wymarzone studia. Niestety różne
            czynniki powodują, że mimo zdolności i ciężkiej pracy cel ten jest dla niektórych szczególnie trudny do
            osiągnięcia. Właśnie to zmotywowało nas do działania i dzielenia się swoją wiedzą z kolegami i koleżankami
            o podobnych zainteresowaniach, lecz niemającymi dostępu do odpowiednich materiałów.  Zależy nam na kształtowaniu
            otwartej i trwałej  <a href="https://discord.gg/nA8CjrPqGM" style="text-decoration: underline dashed;">społeczności</a>, aby każdy mógł stać się częścią środowiska olimpijskiego.
            Naszym celem jest: pomóc tym, którzy kochają matematykę, ale nie wiedzą jeszcze, od czego zacząć!

        </h3>
    </section>

    <section id="team">
        <h2>Nasz zespół</h2>
        <div class="team-tiles">

            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Oleksii Iermolenko</h2>
                <h3 class="role">Administrator strony; Prowadzący zajęć matematycznych; Finalista OM</h3>
                <h3 class="description">Jestem absolwentem XI Liceum w Krakowie, studiuję JSIM na Uniwersytecie Warszawskim, interesuję się matematyką, informatyką i gram w szachy.
                W sprawie strony internetowej MIKO zapraszam do kontaktu.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Filip Manijak</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Prowadzący zajęć koła olimpiady AI; Laureat OM i OAI</h3>
                <h3 class="description">Zajmuję się kwestami organizacyjnymi. Lubię jeździć na rowerze i grać w cywilizacje. Studiuję na UJ i jestem absolwentem LO Prezentek w Rzeszowie.</h3>
                </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Konstanty Smolira</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Złoty medalista Międzynarodowej Olimpiady Matematycznej</h3>
                <h3 class="description"></h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Antoni Łuczak</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Laureat OM</h3>
                <h3 class="description">Uczę się w XIV LO w Warszawie. Poza matematyką interesuję się sztuką i motoryzacją.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Łukasz Próchniak</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Finalista OM; Finalista OS</h3>
                <h3 class="description">Uczę się w Prywatnym Liceum im. Królowej Jadwigi w Lublinie. Oprócz matematyki
                    zajmuję się także fizyką oraz informatyką. Poza naukami ścisłymi interesuję się fotografią(szczególnie analogową).</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Karol Musieliński</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Laureat OM; Laureat OI; Administrator strony</h3>
                <h3 class="description">Jestem absolwentem VIII Liceum w Poznaniu i studiuję JSIM na Uniwersytecie Warszawskim.
                    Najbardziej interesuje mnie matematyka dyskretna oraz algorytmika i sztuczna inteligencja.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Miłosz Płatek</h2>
                <h3 class="role">Prowadzący Fecebookowego Koła OMJ; Prowadzący zajęć matematycznych; Medalista MEMO oraz CAPS</h3>
                <h3 class="description"></h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Kordian Pisarek</h2>
                <h3 class="role">Prowadzący zajęć matematycznych; Designer strony internetowej MIKO</h3>
                <h3 class="description"></h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Tymoteusz Stępkowski</h2>
                <h3 class="role">Prowadzący zajęć AI; Laureat OAI; Finalista OM; Finalista OI</h3>
                <h3 class="description">Jestem uczniem Uniwersyteckiego Liceum Ogólnokształcącego w Toruniu. Pasjonuję się informatyką, a w szczególności programowaniem. Lubię dzielić się wiedzą i doświadczeniem.</h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Jakub Podhajski</h2>
                <h3 class="role">Pomoc w tworzeniu frontend'u</h3>
                <h3 class="description"></h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"></div>
                <h2>Igor Stec</h2>
                <h3 class="role">Pomoc w tworzeniu frontend'u</h3>
                <h3 class="description"></h3>
            </div>
            <div class="team-member">
                <div class="photo-placeholder"> </div>
                <h2>Prowadzący kółek</h2>
                <h3 class="role"></h3>
                <h3 class="description">Serdecznie dziękujemy każdej osobie, która poświęciła chociaż trochę swojego czasu na
                przygotowanie wykładu, organizację event'u lub pomogła nam w inny sposób!</h3>
            </div>


        </div>
    </section>


{% include "footer.html" %}

</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
  const navbarToggle = document.querySelector('.navbar-toggle');
  const navbarCenter = document.querySelector('.navbar-center');

  navbarToggle.addEventListener('click', function() {
    navbarCenter.classList.toggle('active');
  });
});
</script>
</html>
