{% load static %}
{% load compress %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'mainSite/headerStyle.css' %}">
    {% endcompress %}
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <header>
  <nav class="navbar">
    <div class="navbar-left">
      <a href="/" style="text-decoration: none; cursor: pointer"><h2>MIKO</h2></a>
    </div>
    <button class="navbar-toggle" aria-label="Toggle menu">
      <svg viewBox="0 0 100 80" width="30" height="30">
        <rect width="100" height="20"></rect>
        <rect y="30" width="100" height="20"></rect>
        <rect y="60" width="100" height="20"></rect>
      </svg>
    </button>
    <ul class="navbar-center">
        <li><a href="/" {% if request.path == '/' %}id="current"{% endif %}>HOME</a></li>
        <li><a href="/kolo" {% if request.path == '/kolo/' %}id="current"{% endif %}>KOŁO MATEMATYCZNE</a></li>
        <li><a href="/about" {% if request.path == '/about/' %}id="current"{% endif %}>O NAS</a></li>
        <li><a href="#" {% if request.path == '/bazahintow/' %}id="current"{% endif %}>BAZA ZADAŃ</a></li>
        <li class="profile-item"><a href="#" {% if request.path == '/profile/' %}id="current"{% endif %}>PROFIL</a></li>
    </ul>
    <div class="navbar-right">
      <a href="">PROFIL</a>
    </div>
  </nav>
</header>
</body>

</html>