{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Matematyczne Internetowe Koło Olimpijskie – MIKO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Społeczność, gdzie poznasz innych ambitnych młodych matematyków, poszerzysz swoją wiedzę i przygotujesz się do Olimpiady Matematycznej.">
    <meta name="author" content="Matematyczne Internetowe Koło Olimpijskie">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Matematyczne Internetowe Koło Olimpijskie – MIKO">
    <meta property="og:description" content="Społeczność, gdzie poznasz innych ambitnych młodych matematyków, poszerzysz swoją wiedzę i przygotujesz się do Olimpiady Matematycznej.">
    <meta property="og:url" content="https://mikomath.org/">
    <meta property="og:locale" content="pl_PL">
    <meta property="og:image" content="https://mikomath.org/media/cards/index.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="twitter:title" content="Matematyczne Internetowe Koło Olimpijskie – MIKO">
    <meta property="twitter:description" content="Społeczność, gdzie poznasz innych ambitnych młodych matematyków, poszerzysz swoją wiedzę i przygotujesz się do Olimpiady Matematycznej.">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:image" content="https://mikomath.org/media/cards/index.png">
</head>

<body>
    {% include "header.html" %}

    <main>
        <div id="landing-banner-wrapper">
            <div id="info-wrapper">
                <img src="{% static 'logoDark.svg' %}" alt="Logo Matematycznego Internetowego Koła Olimpijskiego"
                    style="    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;">
                <h2 id="welcome-text">Dołącz do&nbsp;nas, rozwiązuj ciekawe zadania, rozwijając z&nbsp;nami pasję do&nbsp;matematyki!</h2>
                <div style="display: flex; justify-content: center; font-weight: 400; margin-top: 20px;">
                    <a href="https://discord.gg/nA8CjrPqGM" style="text-decoration: none; cursor: pointer">Dołączam!</a>
                    <a href={% url 'informacje' %} style="text-decoration: none; cursor: pointer">O kole</a>
                </div>
            </div>
            <div id="background-image" style="background-image: linear-gradient(to right, rgb(6,49,62), rgba(255,255,255,0),rgba(255,255,255,0), rgba(255,255,255,0)), url('{% static 'MIKO_BG1.webp' %}');">
<!--.-->
            </div>
        </div>
    </main>

    <section id="feed">

        <div class="row">
            <div class="column_left">

                    <a href="https://discord.gg/nA8CjrPqGM" style="text-decoration: none; cursor: pointer" class="profile">
                        <img src="{% static 'dsclogo.webp' %}" alt="Ikona z logo Discord"
                            style="height: 100px; border-radius: 50px; margin-bottom: 20px;">
                        <h3 id="profile_name" style="color: white; text-align: center;">
                            Dołącz do&nbsp;społeczności MIKO na&nbsp;Discordzie!
                            <span style="vertical-align: bottom;" class="material-symbols-outlined">open_in_new</span></h3>
                    </a>

                <div class="info-banner">
                    <h2>Najbliższe eventy i&nbsp;kółka:</h2>
                    {% for kolo in eventy %}
                        <div class="event">
                            <h3 style="color: var(--b2)"><strong>Temat:</strong> {{ kolo.theme }}</h3>
                            <div class="event-info">
                                <strong>Data:</strong> {{ kolo.date }}<br>
                                <strong>Czas zajęć:</strong> {{ kolo.time_range }}<br>
                                {% if kolo.tutors %}
                                <div class="event-tutors">
                                    {% if kolo.tutors|length > 1%}
                                    <strong>Prowadzą:</strong>
                                    {% else %}
                                    <strong>Prowadzi:</strong>
                                    {% endif %}
                                    {% for tutor in kolo.tutors.all %}
                                        {{ tutor.name }} {{ tutor.surname }}
                                    {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <strong>Opis: </strong>
                                {{ kolo.description }}
                                <strong>Poziom zaawansowania:</strong>
                                {% if kolo.level == 0 %}
                                    Grupa początkująca
                                {% elif kolo.level == 1  %}
                                    Grupa średnia
                                {% elif kolo.level == 2  %}
                                    Grupa Finał ++
                                {% elif kolo.level == 3  %}
                                    Poziom olimpiad międzynarodowych
                                {% endif %}
                            </div>
                            <div class="event-description">

                            </div>
                            {% if kolo.image %}
                                <div class="event-image">
                                    <img src="{{ kolo.image.url }}" alt="{{ kolo.theme }}" style="max-width: 100%; height: auto;">
                                </div>
                            {% endif %}
                            {% if kolo.file %}
                                <div class="event-file">
                                    <a href="{{ kolo.file.url }}" download>Plik do pobrania</a>
                                </div>
                            {% endif %}
                        </div>
                    {% empty %}
                        <h3>Brak eventów w najbliższym czasie ://</h3>
                    {% endfor %}
                </div>
            </div>
            <div class="column_right" style="flex-wrap: wrap; word-break:break-word;">
                <h1 style="margin-top: 0px;">Aktualności</h1>
                <hr style="margin-bottom: 20px">
                {% for post in posts %}
                <div class="post">
                    <h2 id="post_title">{{ post.title }}</h2>
                    <h3 id="post_subtitle" style="margin-bottom: 0px;">{{ post.subtitle }}</h3>
                    <p style="font-size: 15px; color: var(--b1); font-style: italic; text-align: end">{{ post.date }} {{ post.time }}</p>
                    <hr style="border: none; height: 2px; margin-bottom: 10px">
                    <p><strong>Autor/autorzy:</strong>
                        {% for author in post.authors.all %}
                        <a href="/publicprofile/{{ author.username }}">{{ author.name }} {{ author.surname }}</a>
                        {% if not forloop.last %}; {% endif %}
                        {% endfor %}
                    </p>

                    <p class="post_content">{{ post.text_field_1 }}</p>
                    <p class="post_content">{{ post.text_field_2 }}</p>
                    <hr style="border: none; height: 2px; margin-bottom: 10px">
                    <p style="margin-bottom: 10px">

                        {% if post.file %}
                            <a href="{{ post.file.url }}">{{ post.file|filename  }}</a>
                        {% else %}

                        {% endif %}
                    </p>
                    <div class="images">
                        <strong></strong>
                        {% for image in post.images.all %}
                        <img src="/media/{{ image }}" alt="{{ image.alt_text }}">
                        {% empty %}

                        {% endfor %}
                    </div>
                </div>
                {% empty %}
                <p>Brak postów.</p>
                {% endfor %}

            </div>
        </div>
    </section>
    {% include "footer.html" %}

</body>

<script>function toggleImageSize() {
  const images = document.querySelectorAll('div.images img');

  images.forEach(img => {
    img.style.cursor = 'pointer';
    img.style.width = '40%';

    img.addEventListener('click', function() {
      if (this.style.width === '40%') {
        this.style.width = '100%';
      } else {
        this.style.width = '40%';
      }
    });
  });
}

// Call the function when the page loads
document.addEventListener('DOMContentLoaded', toggleImageSize);</script>

<script>const backgroundDiv = document.getElementById('background-image');
const images = ['MIKO_BG1.webp', 'MIKO_PICTURE.webp'];
let currentIndex = 0;

function changeBackground() {
    currentIndex = (currentIndex + 1) % images.length;
    const nextImage = `/static/${images[currentIndex]}`; // Direct string concatenation

    backgroundDiv.style.transition = 'background-image 1s ease-in-out';
    backgroundDiv.style.backgroundImage = `linear-gradient(to right, rgb(6,49,62), rgba(255,255,255,0), rgba(255,255,255,0), rgba(255,255,255,0)), url('${nextImage}')`; // Template literal here
}

// Change background every 5 seconds
setInterval(changeBackground, 5000);</script>
</html>