{% load static %}
{% load latex_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tasks Page</title>
<link rel="stylesheet" href="{% static 'hintbaseindexStyle.css' %}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>


</head>
<body>

       {% include "header.html" %}


<div class="container">


    <h1> Baza zadań</h1>
    <hr>
    <p style="color: #949494; font-style: italic; margin-bottom: 60px;">
        Witamy w bazie zadań! <br>
        Znajdziesz tutaj zadania z rozmaitych olimpiad wraz z rozwiązaniami podzielonymi na kroki myślowe w postaci ukrytych podpowiedzi.<br>
        Między innymi, ideą tego projektu jest ułatwienie nauki dla początkujących olimpijczyków.
        Niniejsza forma rozwiązań pozwala szybciej opanować metody rozwiązywania zarówno prostych, jak i skomplikowanych zadań olimpijskich.<br>
        Zachęcamy do dodawania zadań, których nie ma w bazie. Dzięki wykrywaniu podobnych treści zadań nie musisz się martwić,
        że utworzysz duplikat, system wyświetli Ci wszystkie podobne zagadnienia. Podobnie sprawa wygląda z dodawaniem rozwiązań, różnicą jest
        manualna ich weryfikacja przez organizatorów <strong>MIKO</strong> oraz zaufane osoby.
    </p>

   <div class="search-container">
    <h2>Wyszukaj zadanie</h2>
    <form method="POST" id="filter-form" action="">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                <label for="tags">Tagi:</label>
                <select name="tags_to_filter" id="tags" multiple>
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="difficulty">Trudność:</label>
                <div class="difficulty-selector">
                    <button type="button" class="difficulty-btn" data-value="1">1</button>
                    <button type="button" class="difficulty-btn" data-value="2">2</button>
                    <button type="button" class="difficulty-btn" data-value="3">3</button>
                    <button type="button" class="difficulty-btn" data-value="4">4</button>
                    <button type="button" class="difficulty-btn" data-value="5">5</button>
                    <button type="button" class="difficulty-btn" data-value="6">6</button>
                    <button type="button" class="difficulty-btn" data-value="7">7</button>
                    <button type="button" class="difficulty-btn" data-value="8">8</button>
                    <button type="button" class="difficulty-btn" data-value="9">9</button>
                    <button type="button" class="difficulty-btn" data-value="10">10</button>
                </div>
                <input type="hidden" id="difficulty" name="difficulty" value="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group search-group">
                <label for="search">Szukaj:</label>
                <input type="text" id="search" name="search" placeholder="Wpisz słowo kluczowe...">
            </div>
            <div class="form-group submit-group">
                <input type="submit" value="Szukaj">
            </div>
        </div>
    </form>
</div>

<hr style="
width: 100px;
margin: auto;
margin-top: 60px;
">

    <br><br>
    {% for problem in all_problems %}
    <div class="problem-block">
        <h2>Zadanie {{ problem.problem_id }}</h2>
        <p><strong>Źródło:</strong>
            <span>{{ problem.source }}</span>
        </p>
        
        <p><strong>trudność:</strong> {{ problem.difficulty }}</p>
        <p><strong>Zadanie dodał/a:</strong> 
            {% if proben.author != "" %} 
            {{ problem.author.username }}
            {% endif %}
        </p>
        <p>
            <strong>
                Gatunek:</strong>
            {% for tag_name in problem.tags.names %}
            <span>{{ tag_name }}{% if not forloop.last %},{% endif %}</span>
            {% endfor %}
        </p>

        <div class="problem-preview">
            <a>    {{ problem.latex_code|latex_preview }} </a>
        </div>

        <div style="display: flex;justify-content: flex-end;">
            <a href="/bazahintow/view_problem/{{ problem.problem_id }}" class="view-button">Zobacz zadanie</a>
        </div>
    </div>
    {% endfor %}
</div>
{% include "footer.html" %}
<script>
   document.addEventListener('DOMContentLoaded', function() {
    const difficultyButtons = document.querySelectorAll('.difficulty-btn');
    const difficultyInput = document.getElementById('difficulty');

    difficultyButtons.forEach(button => {
        button.addEventListener('click', function() {
            this.classList.toggle('active');
            updateDifficultyInput();
        });
    });

    function updateDifficultyInput() {
        const selectedDifficulties = Array.from(difficultyButtons)
            .filter(btn => btn.classList.contains('active'))
            .map(btn => btn.dataset.value);
        difficultyInput.value = selectedDifficulties.join(',');
    }
});

</script>

<script>
window.addEventListener('DOMContentLoaded', () => {
        // Select all elements with the class 'clue'
        const clueElements = document.getElementsByClassName('problem-preview');

        // Iterate over the collection of elements
        for (let i = 0; i < clueElements.length; i++) {
            try {
                // Render math in the current element
                renderMathInElement(clueElements[i], {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false},
                        {left: "\\begin{equation}", right: "\\end{equation}", display: true},
                        {left: "\\begin{align}", right: "\\end{align}", display: true},
                        {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
                        {left: "\\begin{gather}", right: "\\end{gather}", display: true},
                        {left: "\\begin{CD}", right: "\\end{CD}", display: true},
                        {left: "\\[", right: "\\]", display: true}
                    ],
                    throwOnError: false
                });
            } catch (error) {
                console.error('Error rendering math in element:', clueElements[i], error);
            }
        }
    }
)


</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
  const navbarToggle = document.querySelector('.navbar-toggle');
  const navbarCenter = document.querySelector('.navbar-center');

  navbarToggle.addEventListener('click', function() {
    navbarCenter.classList.toggle('active');
  });
});
</script>
</body>
</html>
