{% load static %}
{% load latex_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Baza zadań</title>
<link rel="stylesheet" href="{% static 'hintbaseindexStyle.css' %}">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>


</head>
<body>

       {% include "header.html" %}


<div class="container">


    <h1> Baza zadań</h1>
    <hr>
    <p style="color: #949494; font-style: italic; margin-bottom: 60px;">
        Witamy w bazie zadań! <br>
        Znajdziesz tutaj zadania z rozmaitych olimpiad wraz z rozwiązaniami podzielonymi na kroki myślowe w postaci ukrytych podpowiedzi.<br>
        Ideą tego projektu jest między innymi ułatwienie nauki dla początkujących olimpijczyków.
        Niniejsza forma rozwiązań pozwala szybciej opanować metody rozwiązywania zarówno prostych, jak i skomplikowanych zadań olimpijskich.<br>
        Zachęcamy do dodawania zadań, których nie ma w bazie. Podczas dodawania zadań system wyświetla wszystkie podobne zagadnienia, co zapobiega
        tworzeniu duplikatów. Podobnie sprawa wygląda z dodawaniem rozwiązań, różnicą jest
        manualna ich weryfikacja przez organizatorów <strong>MIKO</strong> oraz zaufane osoby.
    </p>

   <div class="search-container">
    <h2 style="margin-bottom: 16px;">Wyszukaj zadanie</h2>
    <form method="POST" id="filter-form" action="">
        {% csrf_token %}        
        <div class="form-row">
            <div class="form-col-left">
                <label for="search">Słowo kluczowe:</label>
                <input type="text" id="search" name="search" placeholder="Wyszukaj frazę...">
            </div>
            <div class="form-col-right">
                <label for="difficulty">Trudność:</label>
                <div class="difficulty-selector">
                    <div class="sliders_control">
                        <input id="fromSlider" type="range" value="1" min="1" max="10"/>
                        <input id="toSlider" type="range" value="10" min="1" max="10"/>
                        <div class="difficulty-bars">
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                            <label class="noselect">|</label>
                        </div>
                        <div class="difficulty-description">
                            <label>1</label>
                            <label>2</label>
                            <label>3</label>
                            <label>4</label>
                            <label>5</label>
                            <label>6</label>
                            <label>7</label>
                            <label>8</label>
                            <label>9</label>
                            <label>10</label>
                        </div>
                    </div>
                    <div class="form_control" type="hidden">                        
                        <div class="form_control_container">
                            <input type="hidden" class="form_control_container__time__input" type="number" id="fromInput" value="1" min="1" max="10"/>
                        </div>
                        <div class="form_control_container">
                            <input type="hidden" class="form_control_container__time__input" type="number" id="toInput" value="10" min="1" max="10"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="tag-col-left">
                <label for="tags">Tagi:</label>
                <input type="text" id="tag-search" name="tag-search" placeholder="Wyszukaj tagi...">
                <select name="tags_to_filter" id="tags" multiple>
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="tag-col-right">
                <div class="selected-tags-box">
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Algebra</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Kombinatoryka</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Teoria Liczb</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Geometria</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Algebra</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Kombinatoryka</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Teoria Liczb</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Geometria</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Algebra</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Kombinatoryka</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Teoria Liczb</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                    <div class="selected-tag"> 
                        <div class="selected-tag-col-value">Geometria</div>  
                        <div class="selected-tag-col-delete">×</div>    
                    </div>
                </div>
            </div>
        </div>
    <div id="submit-row">
        <input type="submit" id="submit" value="Szukaj">
    </div>        
    </div>
    </form>
</div>

<hr style="
width: 100px;
margin: auto;
margin-top: 60px;
">

    <br><br>
    {% for problem in all_problems %}
    <div class="problem-block">
        <h2>Zadanie {{ problem.problem_id }}</h2>
        <p><strong>Źródło:</strong>
            <span>{{ problem.source }}</span>
        </p>
        
        <p><strong>trudność:</strong> {{ problem.difficulty }}</p>
        <p><strong>Zadanie dodał/a:</strong> 
            {% if proben.author != "" %} 
            {{ problem.author.username }}
            {% endif %}
        </p>
        <p>
            <strong>
                Gatunek:</strong>
            {% for tag_name in problem.tags.names %}
            <span>{{ tag_name }}{% if not forloop.last %},{% endif %}</span>
            {% endfor %}
        </p>

        <div class="problem-preview">
            <a>    {{ problem.latex_code|latex_preview }} </a>
        </div>

        <div style="display: flex;justify-content: flex-end;">
            <a href="/bazahintow/view_problem/{{ problem.problem_id }}" class="view-button">Zobacz zadanie</a>
        </div>
    </div>
    {% endfor %}
</div>
{% include "footer.html" %}
<script>
   document.addEventListener('DOMContentLoaded', function() {
    const difficultyButtons = document.querySelectorAll('.difficulty-btn');
    const difficultyInput = document.getElementById('difficulty');

    difficultyButtons.forEach(button => {
        button.addEventListener('click', function() {
            this.classList.toggle('active');
            updateDifficultyInput();
        });
    });


    <!--Slider control:-->

    function controlFromInput(fromSlider, fromInput, toInput, controlSlider) {
    const [from, to] = getParsed(fromInput, toInput);
    fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
    if (from > to) {
        fromSlider.value = to;
        fromInput.value = to;
    } else {
        fromSlider.value = from;
    }
}
    
function controlToInput(toSlider, fromInput, toInput, controlSlider) {
    const [from, to] = getParsed(fromInput, toInput);
    fillSlider(fromInput, toInput, '#C6C6C6', '#25daa5', controlSlider);
    setToggleAccessible(toInput);
    if (from <= to) {
        toSlider.value = to;
        toInput.value = to;
    } else {
        toInput.value = from;
    }
}

function controlFromSlider(fromSlider, toSlider, fromInput) {
  const [from, to] = getParsed(fromSlider, toSlider);
  fillSlider(fromSlider, toSlider, '#ccc', '#F24535', toSlider);
  if (from > to) {
    fromSlider.value = to;
    fromInput.value = to;
  } else {
    fromInput.value = from;
  }
}

function controlToSlider(fromSlider, toSlider, toInput) {
  const [from, to] = getParsed(fromSlider, toSlider);
  fillSlider(fromSlider, toSlider, '#ccc', '#F24535', toSlider);
  setToggleAccessible(toSlider);
  if (from <= to) {
    toSlider.value = to;
    toInput.value = to;
  } else {
    toInput.value = from;
    toSlider.value = from;
  }
}

function getParsed(currentFrom, currentTo) {
  const from = parseInt(currentFrom.value, 10);
  const to = parseInt(currentTo.value, 10);
  return [from, to];
}

function fillSlider(from, to, sliderColor, rangeColor, controlSlider) {
    const rangeDistance = to.max-to.min;
    const fromPosition = from.value - to.min;
    const toPosition = to.value - to.min;
    controlSlider.style.background = `linear-gradient(
      to right,
      ${sliderColor} 0%,
      ${sliderColor} ${(fromPosition)/(rangeDistance)*95}%,
      ${rangeColor} ${((fromPosition)/(rangeDistance))*95}%,
      ${rangeColor} ${(toPosition)/(rangeDistance)*90 + 7}%, 
      ${sliderColor} ${(toPosition)/(rangeDistance)*90 + 7}%, 
      ${sliderColor} 100%)`;
}

function setToggleAccessible(currentTarget) {
  const toSlider = document.querySelector('#toSlider');
  if (Number(currentTarget.value) <= 0 ) {
    toSlider.style.zIndex = 2;
  } else {
    toSlider.style.zIndex = 0;
  }
}

const fromSlider = document.querySelector('#fromSlider');
const toSlider = document.querySelector('#toSlider');
const fromInput = document.querySelector('#fromInput');
const toInput = document.querySelector('#toInput');
fillSlider(fromSlider, toSlider, '#ccc', '#F24535', toSlider);
setToggleAccessible(toSlider);

fromSlider.oninput = () => controlFromSlider(fromSlider, toSlider, fromInput);
toSlider.oninput = () => controlToSlider(fromSlider, toSlider, toInput);
fromInput.oninput = () => controlFromInput(fromSlider, fromInput, toInput, toSlider);
toInput.oninput = () => controlToInput(toSlider, fromInput, toInput, toSlider);
});

</script>

<script>
window.addEventListener('DOMContentLoaded', () => {
        // Select all elements with the class 'clue'
        const clueElements = document.getElementsByClassName('problem-preview');

        // Iterate over the collection of elements
        for (let i = 0; i < clueElements.length; i++) {
            try {
                // Render math in the current element
                renderMathInElement(clueElements[i], {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        {left: "$", right: "$", display: false},
                        {left: "\\(", right: "\\)", display: false},
                        {left: "\\begin{equation}", right: "\\end{equation}", display: true},
                        {left: "\\begin{align}", right: "\\end{align}", display: true},
                        {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
                        {left: "\\begin{gather}", right: "\\end{gather}", display: true},
                        {left: "\\begin{CD}", right: "\\end{CD}", display: true},
                        {left: "\\[", right: "\\]", display: true}
                    ],
                    throwOnError: false
                });
            } catch (error) {
                console.error('Error rendering math in element:', clueElements[i], error);
            }
        }
    }
)


</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
  const navbarToggle = document.querySelector('.navbar-toggle');
  const navbarCenter = document.querySelector('.navbar-center');

  navbarToggle.addEventListener('click', function() {
    navbarCenter.classList.toggle('active');
  });
});
</script>
</body>
</html>
