* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --b1: #074A59;
    --b2: #06313E;
    --r1: #F24535;
    --y1: #F2B544;
    --w1: #ffffff;
    --bcg: #f0faff;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 1400px;
}

#footer
{
    height: 200px;
    background-color: var(--r1);
    padding: auto 0;
    color: #fff;
}

#footer-text
{
    margin-left: auto;
    margin-right: auto; 
    box-sizing: border-box;
    width: 1400px;
    padding-top: 10px;
}

.column
{
    float: left;
    width: -webkit-calc(50% - 30px);
    flex-wrap: wrap;
    text-wrap: wrap;
    margin-bottom: 30px;
}

@media screen and (max-width: 1500px) {
    .container {
       width: -webkit-calc(100% - 100px);
    }
    #footer-text
    {
        width: -webkit-calc(100% - 100px);
    }
}

.problem {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    transition: transform 0.3s ease;
}

.problem:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
}

.problem-block {
    color: var(--b1);
    border: 1px solid var(--b1);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 60px;
}

.problem-block h2 {
    color: var(--y1);
    font-size: 30px;
}

.view-button {
    background-color: var(--r1);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid var(--r1);
}
.view-button:hover
{
background-color: white;
color: var(--r1);
border: 2px solid var(--r1);
}

h1
{
    margin-top: 50px ;
    font-size: 30px;
    color: var(--b1);
}

h2 {
    font-size: 25px;
    color: var(--y1);
}


hr
{
    color: var(--b1);
    background-color: var(--b1);
    height: 1px;
    margin-bottom: 30px;
}


/*search*/
.search-container {
    border-radius: 20px;
    border: 1px solid var(--b1);
    padding: 20px;
    /*max-width: 800px;*/
    margin: 20px auto;
}

/*h2 {*/
/*    color: #005a6e;*/
/*    margin-top: 0;*/
/*    margin-bottom: 20px;*/
/*}*/


.selected-tag
{
    display: flex;
    background-color:var(--bcg) ;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.selected-tag-col-value {
    font-size: 12px;
    font-weight: 600;
    padding:0px 5px ;
    margin-right: 2px;
    flex: 0 0 -webkit-calc(100% - 24px);
}

.selected-tag-col-delete {    
    align-content: center;
    justify-content: center;
    display: flex;
    margin-left: 2px;
    flex: 0 0 20px;
    height: 20px;
    width: 20px;
}

.selected-tags-box
{
    max-height: 196px;
    overflow-y: auto; /* Allows vertical scrolling */
}

.selected-tags-box .content-div {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.selected-tags-box .content-div:last-child {
    margin-bottom: 0; /* Removes margin from the last div */
}

#tag-search
{
    margin-bottom: 16px;
}



.form-row
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tag-col-left {
    margin-right: 8px;
    flex: 0 0 -webkit-calc(60% - 8px);
}

.tag-col-right {
    padding-top: 22px;
    margin-left: 8px;
    flex: 0 0 -webkit-calc(40% - 8px);
}

.form-col-left {
    margin-right: 30px;
    flex: 0 0 -webkit-calc(50% - 30px);
}

.form-col-right {
    margin-left: 30px;
    flex: 0 0 -webkit-calc(50% - 30px);
}

@media (max-width: 768px) {
    .tag-col-left, .tag-col-right, .form-col-left, .form-col-right
    {
        flex: 0 0 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .form-col-right
    {
        margin-top: 30px;
    }

    .selected-tags-box
        {
        max-height: 100px;
    }    
}

label {
    display: block;
    margin-bottom: 5px;
    color: #005a6e;
    font-weight: bold;
}

select, input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 15px;
    border-bottom: 1px solid var(--b1);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--bcg);
}

select[multiple] {
    height: 140px;
}

.difficulty-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.difficulty-btn {
    padding: 5px;
    color: var(--b1);
    background-color: white;
    border: 1px solid var(--b1);
    border-radius: 10px;
    cursor: pointer;
    width: 32px;
}

.difficulty-btn.active {
    background-color: #005a6e;
    color: white;
}

input[type="submit"] {
    background-color: var(--r1);
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    width: 100%;
    border: 2px solid var(--r1);
}

input[type="submit"]:hover {
    background-color: white;
    color: var(--r1);
    border: 2px solid var(--r1);
}

.problem-preview{
    padding: 10px;
    border: 1px solid var(--b2);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}


.profile-item{
    display: none;
}







.difficulty-selector 
    {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.sliders_control 
{
    position: relative;
    min-height: 10px;
}

.form_control_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_control
{
    position: relative;
    display: flex;
    justify-content: space-around;
    color: #635a5a;
}
  
#fromSlider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: var(--w1);
    border-radius: 50%;
    border: solid 3px var(--r1);
    cursor: pointer;
} 

#toSlider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    background-color: var(--w1);
    border-radius: 50%;
    border: solid 3px var(--r1);
    cursor: pointer;
}
  
input[type=range]::-webkit-slider-thumb:hover 
{
    background: var(--r1);  
}

input[type=range]::-webkit-slider-thumb:active 
{
    box-shadow: inset 0 0 2px #888, 0 0 5px #888;
    -webkit-box-shadow: inset 0 0 2px #888, 0 0 5px #888;
}

input[type="number"] 
{
    color: #8a8383;
    background-color: var(--bcg);
    width: 50px;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--b1);
    border-radius: 5px;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
{  
    opacity: 1;
    margin: -2px;
}

input[type="range"] 
{
    -webkit-appearance: none; 
    appearance: none;
    height: 3px;
    width: 100%;
    background-color: #C6C6C6;
    position: absolute;
    pointer-events: none;
}

#fromSlider 
{
    padding-right: 18px;
    height: 0;
    z-index: 2;
}

#toSlider 
{
    padding-bottom: 3px;
    padding-top: -1px;
    padding-left: 18px;
}

#submit
{
    width: 250px;
}

#submit-row
{
    display: flex;
    justify-content: center;
}

.difficulty-description
{
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 6px;
    display: flex;
}
.difficulty-bars
{

    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.difficulty-bars label 
{
    color: #ccc;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }