/* Root and Global Styles */
:root {
  --b1: #074A59;
  --b2: #06313E;
  --r1: #F24535;
  --y1: #F2B544;
  --w1: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

/* Typography */
h1 {
  font-size: 30px;
  color: var(--b1);
}

h2 {
  font-size: 25px;
  color: var(--y1);
}

h3 {
  font-size: 20px;
  font-weight: 400;
  color: var(--b1);
}



/* Landing Banner */
#landing-banner-wrapper {
  background-color: #06313e;
  height: auto;
  min-height: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#info-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  background-color: #06313e;
  flex-grow: 0;
  text-align: center;
}

#welcome-text {
  text-align: center;
  margin: auto;
  width: 70%;
  font-weight: 400;
  font-size: 25px;
  color: white;
}

#background-image {
  height: 100%;
  width: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

#info-wrapper img {
  height: 60%;
  min-height: 100px;
  min-width: 100px;
}
#landing-banner-wrapper a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 20px;

  color: var(--b2);
  border: white 2px solid;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
    transition: ease-in 0.2s;

  margin-right: 5px;
}


#landing-banner-wrapper a:hover {
  transition: ease-in 0.2s;
  transform: translateY(-3px);
  border-radius: 20px;
}


.post_content{
  margin-bottom: 10px;
  margin-top: 10px;
}
/* Navbar */


/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  border-bottom: 1px solid var(--b1);
}

.navbar a {
  color: var(--b1);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.navbar-center {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar-center li {
  /*display: flex;*/
  align-items: center;
}

.navbar-center li + li::before {
  content: "|";
  color: #06313E;
  font-weight: 900;
  margin: 0 15px;
}

.navbar a:hover {
  color: var(--y1);
}

#current {
  color: var(--r1);
}

#current:hover {
  color: var(--y1);
}


  .navbar-right{
    display: block;
  }


.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-toggle svg {
  fill: var(--b1);
}

@media screen and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-item{
    display: block;
  }
  .navbar-right{
    display: none;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    /*top: 15px;*/
    right: 15px;
  }

  .navbar-center {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
  }

  .navbar-center.active {
    display: flex;
    align-items: center;
  }

  .navbar-center li {
    margin: 10px 0;
    display: flex;
  }

  .navbar-center li + li::before {
    display: none;
  }

  .navbar-right {
    margin: auto;
    margin-top: 15px;
  }

  .profile-item{
    display: block;
  }
}



/* Info Banner */
.info-banner {
  background-color: #f1b239;
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  width: 310px;
}

.info-banner h2 {
  color: #06313e;
}

/* Event */
.event {
  margin-top: 20px;
  border: #06313e 2px solid;
  padding: 10px;
  border-radius: 10px;
  color: var(--b2);
}

/* Miscellaneous */
hr {
  color: var(--b1);
  background-color: var(--b1);
  height: 3px;
}




/* Feed */
#feed {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
}

/* Footer */
#footer {
  background-color: var(--r1);
  padding: 20px;
  color: #fff;
}

#footer-text {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}

/* Post */
.post {
  border: 2px solid var(--b1);
  border-radius: 20px;
  color: var(--b1);
  padding: 25px;
  margin-bottom: 30px;
}

/* Profile */
.profile {
  display: grid;
  justify-items: center;
  background-color: var(--b1);
  height: auto;
  min-height: 200px;
  border-radius: 20px;
  align-content: center;
  padding: 20px;
}

/* Columns */

.column_right {
    margin-top: 0;
    width: calc(100% - 390px);
  }
.column_left {
  flex-direction: column;
  width: 310px;
  margin-right: 60px;
}

  .profile {
    width: 310px;
  }

  .row {
    flex-direction: row;
    margin-top: 50px;
  }
  .post {
    padding: 40px;
  }

  .post {
    padding: 50px 60px;
  }








@media screen and (max-width: 1000px) {
  .row{
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .profile{
    display: none;
  }
  .column_left{
    margin: 0;
    width: 100%;
  }
  .info-banner{
    width: 100%;
    margin: 0;
    margin: auto;
    /*display: flex;*/
  }

  .column_right{

    width: 100%;
    margin-top: 50px;
  }

  .post{
    padding: 20px;
  }
}


main {
  display: flex;
  align-items: center;
  height: auto;
}

@media screen and (min-width: 1000px) {
  #background-image{
      display: block;
  }
  #info-wrapper {
      display: flex;
      width: 500px;
      height: 100%;
      min-width: 500px;
      padding: 20px 0 20px 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #06313e;
      flex-grow: 0;
  }
  #welcome-text {
    text-align: left;
    width: 70%;
    font-weight: 400;
    font-size: 25px;
    color: white;
    margin: 0;
  }
  #landing-banner-wrapper {
    height: 500px;
  }
}

.profile-item{
    display: none;
}